<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tamagotchi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>

<body>

  @using Tamagotchi.Models;

  <h1>Tamagotchis!</h1>
  <div id="cardsDisplay">

    @if (Model.Count == 0)
    {
      <p>There are no pets to display.</p>
    }
    @foreach (Pet pet in Model)
    {
      <div class="petCard">
        <div id="topRow">
        <h2 class="petName">@pet.Name</h2>
        <a href="/pets/@pet.Id"><img id="star" src="~/images/star.png" alt="star icon"></a>
        </div>

        <img class="tamagotchiImage" src="~/images/tama.svg" alt="tamagotchi" style="background-color: @pet.Color;" />
        <div id="description">
          <p>@pet.PersonalityDescriptionName</p>
          <p>@pet.PersonalityDescription</p>
        </div>
        
        <hr id="cardLine">
        <div id="statLabels">
          <p>Happiness</p>
          <p>Hunger</p>
          <p>Energy</p>
        </div>
        <div id="statAmounts">
          <p>@pet.Happiness</p>
          <p>@pet.Hunger</p>
          <p>@pet.Energy</p>
        </div>


        @if (pet.Happiness == 0 || pet.Hunger == 10 || pet.Energy == 0)
        {
          <img src="~/images/deceased.png" alt="deceased" id="deceased" />
        }

        <br>
      </div>

    }
  </div>
  </div>
  <button><a href="/pets/new">Create a new pet</a></button>
  <button><a href='/'>Home Page</a></button>

  <form id="timeForm" action="/pets/passTime" method="post">
  </form>

  <script>
    setInterval(function () {
      document.getElementById('timeForm').submit();
    }, 10000);
  </script>
</body>

</html>