<!DOCTYPE html>
<html>

<head>
    <title>A Postcard For You!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset='utf-8'>
</head>

<body>
    <h1>Seinfeld</h1>
    <p>@Model.One Jerry: "Why do people always @Model.Three their @Model.Five in public places? It's so @Model.Four."</p>
    <p>@Model.Two George: "I was @Model.Seven the other day, and this guy starts @Model.Eight right next to me. I mean, come on! Can't people find a @Model.Nine place?"</p>
    <p>@Model.Three Elaine: "And then, I'm @Model.Ten in the @Model.Eleven, and this woman just @Model.Seven without a care in the world. It's like a @Model.Twelve invasion!"</p>
    <p>@Model.One Jerry: "It's like society has forgotten the unwritten rules of @Model.Two etiquette. Everything's turning into a @Model.Six these days, and nobody seems to @Model.Ten anymore."</p>
    <p>@Model.Four Kramer: "You know, I once @Model.Three my @Model.Five in a @Model.Nine just to see what would happen. It's a wild world out there, Jerry."</p>
</body>

</html>

